/* Footer.css */

footer {
    background-color: #457b9d;  /* dark background */
    color: #ffffff;  /* white text color */
    position: fixed;
    width: 100%;
    padding: 1px;
    bottom: 0;
}

.container {
    text-align: center;  /* center the text horizontally */
    padding: 10px;  /* add some padding to top/bottom */
    max-width: 1140px;  /* max width of the container */
    margin: auto;  /* center the container */
}
